In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.Series([1,2,5,89,0.25])
print(data)

0     1.00
1     2.00
2     5.00
3    89.00
4     0.25
dtype: float64

In [7]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data = pd.Series([0.25,0.5,0.75,1.0], index=[2,5,3,7])
print(data)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data = pd.Series(5, index=[2,5,3,7])
print(data)

2    5
5    5
3    5
7    5
dtype: int64

In [11]:
data = pd.Series({2:'a',5:'b',7:'c'})
print(data)

2    a
5    b
7    c
dtype: object

In [24]:
data = pd.Series({2:'a',5:'b',7:'c'})
print(data)

2    a
5    b
7    c
dtype: object

In [18]:
population_dict = {'Junagadh':5,'Rajkot':8,'Surat':12,'Jamnagar':15,'Baroda':2}

population = pd.Series(population_dict)

print(population)

Junagadh     5
Rajkot       8
Surat       12
Jamnagar    15
Baroda       2
dtype: int64

In [25]:
print(data.keys())

Index([2, 5, 7], dtype='int64')

In [26]:
l = list(data.items())
print(l)

[(2, 'a'), (5, 'b'), (7, 'c')]

In [27]:
print(data.values)

['a' 'b' 'c']

In [36]:
data1 = pd.Series([0.25,0.5,0.0,1.0] , index=['a','b','c','d'])

print(data1)

data1['c'] = 23

print(data1)

data1['e'] = 45

print(data1)

a    0.25
b    0.50
c    0.00
d    1.00
dtype: float64
a     0.25
b     0.50
c    23.00
d     1.00
dtype: float64
a     0.25
b     0.50
c    23.00
d     1.00
e    45.00
dtype: float64

In [39]:
print(data1['a':'c'])

print(data1[['a','e']])

print(data1[1:3])

a     0.25
b     0.50
c    23.00
dtype: float64
a     0.25
e    45.00
dtype: float64
b     0.5
c    23.0
dtype: float64

In [43]:
print(data1[(data1 > 0.3) & (data1 < 0.8)])

b    0.5
dtype: float64

In [47]:
data = pd.Series(['a','b','c','d'] , index=[1,30,50,7])

print("data")
print(data)

print("data with loc 1 to 50")
print(data.loc[1:50])

print("data with iloc 1 to 50")
print(data.iloc[1:50])

data
1     a
30    b
50    c
7     d
dtype: object
data with loc 1 to 50
1     a
30    b
50    c
dtype: object
data with iloc 1 to 50
30    b
50    c
dtype: object

In [49]:
# Data frame in pandas

d = pd.DataFrame([{'a':100 , 'b':22} , {'a':350 , 'b':49}])

print(d)

     a   b
0  100  22
1  350  49

In [50]:
d = pd.DataFrame([{'a':100 , 'b':22} , {'b':350 , 'c':49}])

print(d)

       a    b     c
0  100.0   22   NaN
1    NaN  350  49.0

In [54]:
data = [{'a':i , 'b':2*i} for i in range(3)]

print(data)

d = pd.DataFrame(data)
print(d)

print(d.keys())

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]
   a  b
0  0  0
1  1  2
2  2  4
Index(['a', 'b'], dtype='object')

In [66]:
population_dict = {'Junagadh':5,'Rajkot':8,'Surat':12,'Jamnagar':15,'Baroda':2}

population = pd.Series(population_dict)

print(population)

print(population_dict)

s = pd.DataFrame({'area' : area_dict})

print(s)

area_dict = {'Junagadh':15,'Rajkot':18,'Surat':112,'Jamnagar':115,'Baroda':12}

area = pd.Series(area_dict)

print(area)

print(area_dict)

state = pd.DataFrame({'area' : area_dict , 'population' : population_dict})

print(state)

Junagadh     5
Rajkot       8
Surat       12
Jamnagar    15
Baroda       2
dtype: int64
{'Junagadh': 5, 'Rajkot': 8, 'Surat': 12, 'Jamnagar': 15, 'Baroda': 2}
          area
Baroda      12
Jamnagar   115
Junagadh    15
Rajkot      18
Surat      112
Junagadh     15
Rajkot       18
Surat       112
Jamnagar    115
Baroda       12
dtype: int64
{'Junagadh': 15, 'Rajkot': 18, 'Surat': 112, 'Jamnagar': 115, 'Baroda': 12}
          area  population
Junagadh    15           5
Rajkot      18           8
Surat      112          12
Jamnagar   115          15
Baroda      12           2

In [77]:
print(state.values[:1])

[[15  5]]

In [80]:
state['density'] = state['area']/state['population']

print(state)

          area  population   density
Junagadh    15           5  3.000000
Rajkot      18           8  2.250000
Surat      112          12  9.333333
Jamnagar   115          15  7.666667
Baroda      12           2  6.000000

In [81]:
pivot = state.iloc[:3,:2]

print(pivot)

          area  population
Junagadh    15           5
Rajkot      18           8
Surat      112          12