In [28]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [29]:
df = pd.read_csv("E:\Machine-Learning\Dataset\properties.csv")

df.head()

,type,title,location,bedroom,bathroom,size_sqm,price
0,Duplex,Prime Location Duplex Fully Finished With A\C,"Park View, North Investors Area, New Cairo Cit...",4,4,345,"6,850,000"
1,Villa,Town house resale at Mivida Emaar with best price,"Mivida, 5th Settlement Compounds, The 5th Sett...",3,3,285,"10,000,000"
2,Apartment,Lake View Residence - Apartment | Prime Location,"Lake View Residence, 5th Settlement Compounds,...",3,3,210,"5,700,000"
3,Townhouse,Best Penthouse for sale in villette ( sky conds ),"La Vista City, New Capital Compounds, New Capi...",4,4,230,"7,510,000"
4,Penthouse,2nd Floor | Fully Finished | Lowest Price |Par...,"Villette, 5th Settlement Compounds, The 5th Se...",5,6,284,"8,511,300"

In [30]:
df.dtypes

type        object
title       object
location    object
bedroom     object
bathroom     int64
size_sqm    object
price       object
dtype: object

In [31]:
label_encoder = LabelEncoder()

df['bedroom'] = label_encoder.fit_transform(df['bedroom'])

df['size_sqm'] = label_encoder.fit_transform(df['size_sqm'])

df['price'] = label_encoder.fit_transform(df['price'])

df.head()

,type,title,location,bedroom,bathroom,size_sqm,price
0,Duplex,Prime Location Duplex Fully Finished With A\C,"Park View, North Investors Area, New Cairo Cit...",3,4,334,2255
1,Villa,Town house resale at Mivida Emaar with best price,"Mivida, 5th Settlement Compounds, The 5th Sett...",2,3,274,569
2,Apartment,Lake View Residence - Apartment | Prime Location,"Lake View Residence, 5th Settlement Compounds,...",2,3,197,2106
3,Townhouse,Best Penthouse for sale in villette ( sky conds ),"La Vista City, New Capital Compounds, New Capi...",3,4,217,2330
4,Penthouse,2nd Floor | Fully Finished | Lowest Price |Par...,"Villette, 5th Settlement Compounds, The 5th Se...",4,6,273,2408

In [32]:
df.dtypes

df.isnull().sum()

# df.info()

type        0
title       0
location    0
bedroom     0
bathroom    0
size_sqm    0
price       0
dtype: int64

In [33]:
# there is no null values so we don't need to do data cleaning

X = df[['bedroom' , 'bathroom' , 'size_sqm']]

Y = df['price']

In [34]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.33,random_state=42)

In [35]:
x_train.shape, x_test.shape

((7650, 3), (3768, 3))

In [36]:
model = LinearRegression()

model.fit(x_train,y_train)

LinearRegression()

In [37]:
y_pred = model.predict(x_test)

In [38]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_pred)

print(f"R-squared value is {r2}")

R-squared value is 0.0448162509155432